/* Global */
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Navbar */
.navbar.activate{
    background-color: #1e1b4b;
    position: fixed;
    width: 100%;
}

#intro h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#intro{
    background-image: url(image/REVOFUN_AboutImage.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100svh;
    z-index: 10;
}
#intro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( 
    rgba(49, 46, 129, 0.7) 10%,
    rgba(2, 6, 23) 100%
    );
    height: 100%;
    width: 100%;
    z-index: 10;
}

.skill-wrapper{
    margin: auto;
    display: flex;
    width: 42.7%;
    overflow: hidden;
    background-color: #1e1b4b;
    border-radius: 1rem;
}
.skill-container{
    display: flex;
    gap: 1rem;
    animation: carousel 15s infinite linear;
    padding-left: 1rem;
}
.skill-container li{
    display: flex;
    flex: 0 0 5em;
    height: 5em;
    border-radius: .2em;
    align-items: center;
    justify-content: center;
}
.skill-container img{
    width: 40px;
    height: 40px;
}

@keyframes carousel{
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}