/* Global */
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Navbar */
.navbar.activate{
    background-color: #1e1b4b;
    position: fixed;
    width: 100%;
}

.intro h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    animation: fadeIn 3s ease forwards;
}

.intro{
    background-image: url(image/REVOFUN_AboutImage.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100svh;
    z-index: 10;
}
.intro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( 
    rgba(49, 46, 129, 0.7) 10%,
    rgba(2, 6, 23) 100%
    );
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* Offer */
.focus h2, .focus p, .offer img{
    opacity: 0;
    transform: translateX(-100%);
    animation: left forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}
.offer h2, .offer p, .focus img{
    opacity: 0;
    transform: translateX(100%);
    animation: right forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

.up, .skill-wrapper{
    opacity: 0;
    animation: up forwards;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.skill-wrapper{
    margin: auto;
    display: flex;
    width: 42.7%;
    overflow: hidden;
    background-color: #1e1b4b;
    border-radius: 1rem;
}
.skill-container{
    display: flex;
    gap: 1rem;
    animation: carousel 15s infinite linear;
    padding-left: 1rem;
}
.skill-container li{
    display: flex;
    flex: 0 0 5em;
    height: 5em;
    border-radius: .2em;
    align-items: center;
    justify-content: center;
}
.skill-container img{
    width: 40px;
    height: 40px;
}

/* Footer Section Styles   */
.footer-list img{
    transition: transform 0.5s;
}
.footer-list img:hover{
    transform: scale(1.4);
}

/* Animation keyframes */
@keyframes carousel{
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-4rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes left{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes right{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes up{
    from{
        opacity: 0;
        scale: .95;
        transform: translateY(4rem);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
}