/* Global */
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#bg-image{
    background-image: url(image/REVOFUN_ButtonContainer1.png);
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: relative; /* IMPORTANT */
}

#button-img{
    position: absolute;
    width: 600px;
    top: 300px;
    right: 450px;
    transition: transform 0.5s;
}
#button-img.active{
    transform: translateY(20px); /* pressed down */
}
#button-img-start, #button-img-1, #button-img-2, #button-img-3{
    position: absolute;
    width: 600px;
    height: 430px;
    top: 275px;
    right: 450px;
    transition: transform 0.5s;
}
#button-img-start:hover{
    transform: scale(1.1);
}
#button-img-start.active{
    transform: translateY(10px) scale(1.1); /* pressed down */
}

#scoreboard.activate{
    transition: opacity 2s ease;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}