/* Global */
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Clicker */
.clicker-image{
    background-image: url(image/REVOFUN_ButtonContainer1.png);
    background-size: cover;
    background-position: top;
}
.start-button{
    animation: zoom 2s infinite ease-in-out;
}
#button-img.activate img{
    transform: translateY(20px); /* pressed down */
}
.button-img-1, .button-img-2, .button-img-3{
    position: absolute;
    width: 600px;
    height: 430px;
    top: 275px;
    right: 450px;
    transition: transform 0.5s;
}
.scoreboard.activate{
    transition: opacity 2s ease;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

/* Animation */
@keyframes zoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}