/* Global */
body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Navbar */
.navbar.activate{
    background-color: #1e1b4b;
}
.group i {
    transition: transform 0.3s ease;
}
.group:hover i {
    transform: rotate(-180deg);
}

/* Home Section Styles */
.home{
    background-image: url(image/REVOFUN_BackgroundImage.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}
.home::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( 
    rgba(49, 46, 129, 0.5) 30%,
    rgba(2, 6, 23) 100%
    );
    height: 100%;
    width: 100%;
    z-index: 10;
}
.home h1, .home h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}

/* Games Section Styles */
.clicker{
    opacity: 0;
    transform: translateX(-50%);
    animation: left forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
.clicker-container{
    opacity: 0;
    transform: translateX(50%);
    animation: right forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
.games h2{
    opacity: 0;
    animation: up forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}
.games-wrapper{
    opacity: 0;
    transform: translateY(4rem);
    margin: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    animation: up forwards;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
}
.games-wrapper::scroll-marker-group{
    display: flex;
    justify-content: center;
    gap: .5em;
}
.games-wrapper::-webkit-scrollbar{
    display: none;
}
.games-container{
    display: flex;
    margin: 2rem;
    gap: 5rem;
}
.games-container article{
    height: 450px;
    flex: 0 0 900px;
    scroll-snap-align: center;
    box-shadow: 0px 0px 30px rgba(99, 102, 241, 0.9);
    background-size: cover;
    background-position: center;
    z-index: 10;
    position: relative;
    border-radius: 2rem;
    padding: 1rem;
}
.games-container article::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, 
    rgb(30, 27, 75) 10%,
    rgba(99, 102, 241, 0.6) 
    );
    height: 100%;
    width: 40%;
    z-index: 10;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.games-container article::scroll-marker{
    content: '';
    height: .8em;
    width: .8em;
    background-color: gray;
    margin-top: 1.5em;
    border-radius: 50%;
}
.games-container article::scroll-marker:target-current{
    background-color: #4338ca;
}
.card1{
    background-image: url(image/REVOFUN_Clicking.png);
}
.card2{
    background-image: url(image/REVOFUN_NumberGuessing.png);
}
.card3{
    background-image: url(image/REVOFUN_RockPaperScissors.png);
}
.fake::scroll-marker{
    display: none;
}

/* About */
.about{
    opacity: 0;
    animation: fadeIn forwards;
    animation-timeline: view();
    animation-range: entry 30% cover 50%;
}

/* Footer Section Styles   */
.footer-list img{
    transition: transform 0.5s;
}
.footer-list img:hover{
    transform: scale(1.4);
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-4rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes left{
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes right{
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes up{
    from{
        opacity: 0;
        transform: translateY(4rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* @keyframes rotateArrow {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(-180deg);
    }
} */